<!DOCTYPE html>
<head>
<meta charset="{{ page.encoding }}">
{{ page.includes.css|getcss }}
{%if extra.flow %}{{ extra.flow_source.css|getcss }}{% endif %}
{%if extra.sequence %}{{ extra.sequence_source.css|getcss }}{% endif %}
{%if extra.mathjax %}{{ extra.mathjax_source.css|getcss }}{% endif %}
{%if page.pygments_style %}{{ page.pygments_style }}{% endif %}
{{ page.includes.js|getjs }}
{%if extra.flow %}{{ extra.flow_source.js|getjs }}{% endif %}
{%if extra.sequence %}{{ extra.sequence_source.js|getjs }}{% endif %}
{%if extra.mathjax %}{{ extra.mathjax_source.js|getjs }}{% endif %}
<title>{{ page.title }}</title>
</head>
<body>

<div class="content">
  <div class="header">
  <h1><a href="http://facelessuser.github.io/PyMdown/">PyMdown</a></h1>
  <div class="bread-crumb-div">{% raw %}{{ nav }}{% endraw %}</div>
  </div>

  <div class="menu"></div>

  <div class="markdown-body">
  <h1>{{ page.title }}</h1>
  {{ page.content }}
  </div>

  <div class="footer">
  <p>
    <a href="https://github.com/facelessuser/PyMdown" class="branding">
      <img src="{{ 'assets/GitHub-Mark-64px.png'|getpath(quoted=True) }}"/><br>
    </a>
    <strong>Repository on Github</strong>
  </p>
  </div>
</div>
</body>
</html>
