.codehilite {color:#333;background-color:#fff}
.codehilite .hll {background-color: #f8eec7;}
.codehilite .mf{color:#945277}
.codehilite .mh{color:#945277}
.codehilite .mi{color:#945277}
.codehilite .mo{color:#945277}
.codehilite .il{color:#945277}
.codehilite .m{color:#945277}
.codehilite .s{color:#df5000}
.codehilite .sb{color:#df5000}
.codehilite .sc{color:#df5000}
.codehilite .sd{color:#df5000}
.codehilite .s2{color:#df5000}
.codehilite .se{color:#df5000}
.codehilite .sh{color:#df5000}
.codehilite .si{color:#df5000}
.codehilite .sx{color:#df5000}
.codehilite .s1{color:#df5000}
.codehilite .kc{font-weight:bold}
.codehilite .kd{font-weight:bold}
.codehilite .kn{font-weight:bold}
.codehilite .kp{font-weight:bold}
.codehilite .kr{font-weight:bold}
.codehilite .kt{font-weight:bold}
.codehilite .k{font-weight:bold}
.codehilite .o{font-weight:bold}
.codehilite .kt{color:#458}
.codehilite .c{color:#998;font-style:italic}
.codehilite .cm{color:#998;font-style:italic}
.codehilite .c1{color:#998;font-style:italic}
.codehilite .cp{color:#999;font-weight:bold}
.codehilite .cs{color:#999;font-weight:bold}
.codehilite .cs{font-style:italic}
.codehilite .n{color:#333}
.codehilite .na{color:#008080}
.codehilite .nv{color:#008080}
.codehilite .vc{color:#008080}
.codehilite .vg{color:#008080}
.codehilite .vi{color:#008080}
.codehilite .nb{color:#0086B3}
.codehilite .nc{color:#458;font-weight:bold}
.codehilite .no{color:#094e99}
.codehilite .ni{color:#800080}
.codehilite .ne{color:#990000;font-weight:bold}
.codehilite .nf{color:#945277;font-weight:bold}
.codehilite .nn{color:#555}
.codehilite .nt{color:#000080}
.codehilite .err{color:#a61717;background-color:#e3d2d2}
.codehilite .gd{color:#000;background-color:#fdd}
.codehilite .ge{font-style:italic}
.codehilite .gr{color:#aa0000}
.codehilite .gh{color:#999}
.codehilite .gi{color:#000;background-color:#dfd}
.codehilite .go{color:#888}
.codehilite .gp{color:#555}
.codehilite .gs{font-weight:bold}
.codehilite .gu{color:#800080;font-weight:bold}
.codehilite .gt{color:#aa0000}
.codehilite .ow{font-weight:bold}
.codehilite .w{color:#bbb}
.codehilite .sr{color:#017936}
.codehilite .ss{color:#8b467f}
.codehilite .bp{color:#999}
.codehilite .gc{color:#999;background-color:#EAF2F5}
