.codehilite {color:#333;background-color:#fff}
.codehilite .hll {background-color: #f8eec7;}
.codehilite .mf,
.codehilite .mh,
.codehilite .mi,
.codehilite .mo,
.codehilite .il,
.codehilite .m{color:#945277}
.codehilite .s,
.codehilite .sb,
.codehilite .sc,
.codehilite .sd,
.codehilite .s2,
.codehilite .se,
.codehilite .sh,
.codehilite .si,
.codehilite .sx,
.codehilite .s1{color:#df5000}
.codehilite .kc,
.codehilite .kd,
.codehilite .kn,
.codehilite .kp,
.codehilite .kr,
.codehilite .kt,
.codehilite .k,
.codehilite .o{font-weight:bold}
.codehilite .kt{color:#458}
.codehilite .c,
.codehilite .cm,
.codehilite .c1{color:#998;font-style:italic}
.codehilite .cp,
.codehilite .cs{color:#999;font-weight:bold}
.codehilite .cs{font-style:italic}
.codehilite .n{color:#333}
.codehilite .na,
.codehilite .nv,
.codehilite .vc,
.codehilite .vg,
.codehilite .vi{color:#008080}
.codehilite .nb{color:#0086B3}
.codehilite .nc{color:#458;font-weight:bold}
.codehilite .no{color:#094e99}
.codehilite .ni{color:#800080}
.codehilite .ne{color:#990000;font-weight:bold}
.codehilite .nf{color:#945277;font-weight:bold}
.codehilite .nn{color:#555}
.codehilite .nt{color:#000080}
.codehilite .err{color:#a61717;background-color:#e3d2d2}
.codehilite .gd{color:#000;background-color:#fdd}
.codehilite .ge{font-style:italic}
.codehilite .gr{color:#aa0000}
.codehilite .gh{color:#999}
.codehilite .gi{color:#000;background-color:#dfd}
.codehilite .go{color:#888}
.codehilite .gp{color:#555}
.codehilite .gs{font-weight:bold}
.codehilite .gu{color:#800080;font-weight:bold}
.codehilite .gt{color:#aa0000}
.codehilite .ow{font-weight:bold}
.codehilite .w{color:#bbb}
.codehilite .sr{color:#017936}
.codehilite .ss{color:#8b467f}
.codehilite .bp{color:#999}
.codehilite .gc{color:#999;background-color:#EAF2F5}
